a{
    text-align: center;
    color: #1D014B;
    text-decoration: none;
    height: 20px;
    width: 260px;
    display: block;
    padding: 12px 25px;
    margin: 20px auto;
    border: none;
    border-radius: 8px;
    background: #CEB1FF;
}
a:hover {
    background-color: #926cd4;
    color: #ffc8e3;
}
a:active {
    background-color: #603aa3;
    color: #ffc8e3;
    box-shadow: 1px 1px 2px #1D014B inset;
}
#whatsapp-code {
    margin: 20px auto;
    display: flex;
    width: 310px;
    border-radius: 30px;
}

.brand-logo{
    display: block;
    width: 120px;
    margin: 0 auto;
}

.card-logo{
    background: #FFB2D7;
    display: block;
    width: 200px;
    height: 150px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 30px;
}

.card-info{
    color: #1D014B;
    text-align: center;
    background: #FFB2D7;
    width: 250px;
    height: auto;
    margin: 20px auto;
    padding: 80px 30px 20px 30px;
    border-radius: 30px;
}

.card-info h1{
    margin: 16px auto 0 ;
    font-weight: 800;
    font-size: 24px;
    font-family: montserrat;
}

.card-info h2{
    margin: 4px auto;
    font-weight: 600;
    font-size: 16px;
    font-family: montserrat;
}

.card-info p{
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.circular-profile{
    position: relative;
    margin: -70px auto;
    width: 150px;
    height: 120px;
    border-radius: 50%;
}

.profile-image{
    width: 100%;
    border: 4px solid #B10055;
    border-radius: 50%;
} 

.btn button{
    color: #1D014B;
    width: 260px;
    display: block;
    padding: 12px;
    margin: 20px auto;
    border: none;
    border-radius: 8px;
    background: #CEB1FF;
}